einops
einops-exts
huggingface_hub
imageio
numpy
opencv-python
orjson
peft
pycocoevalcap
pyyaml
scikit-learn
scipy
sentencepiece
shortuuid
tensorboardX
termcolor
timm
tokenizers
torch
torchvision
tqdm
transformers
yacs
bitsandbytes